<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>geniUs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA95DC422A38777500D30ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA95DC522A38777700D30ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA95DC5C2A38777700D30ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
